---
import { getCollection } from "astro:content";
const allPosts = await getCollection('blog');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
		<style is:global>
			pre {
				padding: 1.5rem;
			}
			code {
				padding: 8px;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Posts</h1>
			{
				allPosts.map(blog => (
					<li>
						<a href=`/blog/${blog.slug}`>{blog.data.title}</a>
					</li>
				))
			}
		</main>
	</body>
</html>
