---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection('blog');
---

<html lang="en">
	<head>
		<BaseHead title="Home" description="Homepage"/>
		<style>
			@media (max-width: 540px) {
				li {
					max-width: 40ch;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Posts</h1>
			{
				allPosts.map(blog => (
					<li>
						<a href=`/blog/${blog.slug}`>{blog.data.title}</a>
					</li>
				))
			}
		</main>
	</body>
</html>
